.seccionAbout {
    display: block;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-bottom: 100px;
}

.imgAbout{
    height: 600px;
    background-image: url(../img/fondoAbout.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cajaAbout {
    width: 100%;
    height: fit-content;
}

.cajaAbout p {
    margin-top: 30px;
    color: gold;
    text-align: center;
    font-size: larger;
    font-weight: 300;
}

.mensajeAbout {
    font-size: 3rem;
    color: goldenrod;
    text-align: center;
    padding: 30px;
    font-weight: 800;
}