footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(173, 122, 9);
    background: linear-gradient(41deg, rgba(173, 122, 9, 1) 12%, rgba(129, 87, 27, 1) 73%, rgba(191, 132, 53, 1) 100%);
    height: fit-content;

    .redSocial {
        color: white;
        margin-block: 10px;
        padding-block: 10px;
        padding-inline: 25px;
        justify-self: center;
        font-weight: 600;
        background-color: black;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        transition: all 1s;
    }

    .redSocial:hover {
        background-color: gold;
        color: black;
    }
}