<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../sass/body.css">
  <link rel="stylesheet" href="../sass/estilo.css">
  <link rel="stylesheet" href="../sass/footer.css">
  <link rel="stylesheet" href="../sass/header.css">
  <title>CONTACTO</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img class="logoNav" src="../img/logoNavbar.PNG" alt="Logo Compupartes">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="products.html">PRODUCTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">LOCALES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="about.html">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="contact.html">CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1 class="titulo">COMPUPARTES</h1>
    <section class="seccionContacto container">
      <div class="row">
        <div class="contacto col-lg-6 col-sm-10">
          <p>Si necesita ser atendido vía teléfono, llame al 0800-293-9942</p>
          <img class="imgContacto" src="../img/telefono.png" alt="Telefono de línea">
        </div>
        <div class="contacto col-lg-6 col-sm-10">
          <p>Si prefiere mandar un correo, puede encontrarnos en compupartes.nexo@gmail.com</p>
          <img class="imgContacto" src="../img/email.png" alt="Correo electrónico">
        </div>
        <div class="contacto col-lg-6 col-sm-10">
          <p>Si quiere puede enviarnos un Whatsapp al +54 9 11 3949 9302</p>
          <img class="imgContacto" src="../img/whatsapplogo.png" alt="Whatsapp">
        </div>
      </div>

    </section>
  </main>
  <footer>
    <button class="redSocial">INSTAGRAM</button>
    <button class="redSocial">FACEBOOK</button>
    <button class="redSocial">WHATSAPP</button>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>