<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>CONTACTO</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="Logo Compupartes">
        <nav>
            <ul>
                <li class="itemLista"><a href="../index.html" >INICIO</a></li>
                <li class="itemLista"><a href="products.html" >PRODUCTOS</a></li>
                <li class="itemLista"><a href="stores.html" >LOCALES</a></li>
                <li class="itemLista"><a href="about.html" >SOBRE NOSOTROS</a></li>
                <li class="itemLista"><a href="" >CONTACTO</a></li>
            </ul>
        </nav> 
    </header>
    <main>
        <h1 class="titulo">COMPUPARTES</h1>
        <section class="seccionContacto">
            <div class="contacto">
                <p>Si necesita ser atendido vía teléfono, llame al 0800-293-9942</p>
                <img class="imgContacto" src="../img/telefono.png" alt="Telefono de línea">
            </div>
            <div class="contacto">
                <p>Si prefiere mandar un correo, puede encontrarnos en compupartes.nexo@gmail.com</p>
                <img class="imgContacto" src="../img/email.png" alt="Correo electrónico">
            </div>
            <div class="contacto">
                <p>Si quiere puede enviarnos un Whatsapp al +54 9 11 3949 9302</p>
                <img class="imgContacto" src="../img/whatsapplogo.png" alt="Whatsapp">
            </div>
        </section>
    </main>
    <footer>
        <p class="redSocial">INSTAGRAM</p>
        <p class="redSocial">FACEBOOK</p>
        <p class="redSocial">WHATSAPP</p>
    </footer> 
</body>
</html>