<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>PRODUCTOS</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="Logo Compupartes">
        <nav>
            <ul> 
                <li class="itemLista"><a href="../index.html">INICIO</a></li>
                <li class="itemLista"><a href="" >PRODUCTOS</a></li>
                <li class="itemLista"><a href="stores.html" >LOCALES</a></li>
                <li class="itemLista"><a href="about.html" >SOBRE NOSOTROS</a></li>
                <li class="itemLista"><a href="contact.html">CONTACTO</a></li>
            </ul>
        </nav> 
    </header>
    <main>
        <h1 class="titulo">COMPUPARTES</h1>
        <section class="boxProductos">
            <div class="producto">
                <img class="imgProducto" src="../img/products/kumara 552.webp" alt="Teclado redragon kumara 552">
                <h3 class="nombreProducto">Teclado Redragon Kumara 552</h3>
                <p class="precio">$22500</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/logitech m170.webp" alt="Mouse logitech M170">
                <h3 class="nombreProducto">Mouse Logitech M170</h3>
                <p class="precio">$2500</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Mousepad liso.webp" alt="Mousepad Liso">
                <h3 class="nombreProducto">Mousepad Liso</h3>
                <p class="precio">$2000</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Parlante Edifier.webp" alt="Parlante Edifier">
                <h3 class="nombreProducto">Parlante Edifier</h3>
                <p class="precio">$48000</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Soundbar bluetooth.webp" alt="Soundbar bluetooth">
                <h3 class="nombreProducto">Soundbar bluetooth</h3>
                <p class="precio">$18000</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Mouse bungee VSG.webp" alt="Mouse bungee">
                <h3 class="nombreProducto">Mouse bungee VSG</h3>
                <p class="precio">$5000</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Mouse bungee VSG.webp" alt="Mouse bungee">
                <h3 class="nombreProducto">Mouse bungee VSG</h3>
                <p class="precio">$5000</p>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img class="imgProducto" src="../img/products/Mouse bungee VSG.webp" alt="Mouse bungee">
                <h3 class="nombreProducto">Mouse bungee VSG</h3>
                <p class="precio">$5000</p>
                <button>COMPRAR</button>
            </div>

        </section>
    </main>
    <footer>
        <p class="redSocial">INSTAGRAM</p>
        <p class="redSocial">FACEBOOK</p>
        <p class="redSocial">WHATSAPP</p>
    </footer>  
</body>
</html>