<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>LOCALES</title>
</head>
<body>
    <header>
        <img class="logo" src="../img/logo.png" alt="Logo Compupartes">
        <nav>
            <ul>
                <li class="itemLista"><a href="../index.html" >INICIO</a></li>
                <li class="itemLista"><a href="products.html" >PRODUCTOS</a></li>
                <li class="itemLista"><a href="">LOCALES</a></li>
                <li class="itemLista"><a href="about.html">SOBRE NOSOTROS</a></li>
                <li class="itemLista"><a href="contact.html">CONTACTO</a></li>
            </ul>
        </nav> 
    </header>
    <main>
        <h1 class="titulo">COMPUPARTES</h1>
        <p class="mensajeLocales">Te presentamos los locales disponibles en Buenos Aires</p>
        <section class="mapbox">
            <h3>Ramos Mejía</h3>
            <div class="datosMapbox">
                <h3>Av. Don Bosco 355, B1704 Ramos Mejía, Provincia de Buenos Aires, Argentina</h3>
                <h3>TEL: 0800 329 4209</h3>
                <h3>E-mail: compupartes.rmejia@gmail.com</h3>
            </div>
            <div class="mapa"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=av don bosco 355&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </section>
        <section class="mapbox">
            <h3>Vicente Lopez</h3>
            <div class="datosMapbox">
                <h3>Av. del Libertador 350, Vicente López, Provincia de Buenos Aires, Argentina</h3>
                <h3>TEL: 0800 329 4232</h3>
                <h3>E-mail: compupartes.vlopez@gmail.com</h3>        
            </div>
            <div class="mapa"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=av libertador 350&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </section>
    </main>
    <footer>
        <p class="redSocial">INSTAGRAM</p>
        <p class="redSocial">FACEBOOK</p>
        <p class="redSocial">WHATSAPP</p>
    </footer>
    
</body>
</html>